<div class="container">
    <img src="~/images/faleconosco.jpg" alt="Fale conosco" />

    <div class="jumbotron">
        <h4>Queremos ouvir o que você tem a dizer</h4>
        <p>Se você tiver alguma dúvida ou sugestão, fale conosco</p>

        <div class="contact-info">
            <div class="contact-item">
                <span>
                    <img src="~/images/Envelope-icon24.png" alt="Ícone de e-mail" />
                </span>
                <h5><a href="mailto:matheusjjallves@gmail.com">matheusjjallves@gmail.com</a></h5>
            </div>

            <div class="contact-item">
                <span>
                    <img src="~/images/phone-app-icon.png" alt="Ícone de telefone" />
                </span>
                <h5>(11) 9874-5566</h5>
            </div>

            <div class="contact-item">
                <span>
                    <img src="~/images/Home-iconred.png" alt="Ícone de localização" />
                </span>
                <h5>Av. Juscelino Kubitschek 1000 - 03540-550 - São Paulo</h5>
            </div>
        </div>
    </div>
</div>
